@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('../fonts/gothamrnd_book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* H2 headings */
@font-face {
    font-family: 'Fonia Regular';
    src: url('../fonts/fonia_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}