@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url('gothamrnd_book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* H2 headings */
@font-face {
    font-family: 'Fonia Regular';
    src: url('fonia_fegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}